html {
    background-color: #f0e1b6;
}

.img1 {
    height: 200px;
    width: 350px;
    position: relative;
    float: right;
    border: 1px solid black;
    bottom: 155px;
    margin-right: 5px;
}

.img2 {
    height: 200px;
    width: 350px;
    position: relative;
    float: left;
    border: 1px solid black;
}

div {
    width: 1000px;
}